header {
    display: flex;
    justify-content: space-between;
    background-color: #3A4042;
    border-bottom: 10px solid #242325;
    padding: 10px 20px;
}

#logonatan {

    box-shadow: 4px 4px 0 #242325;

}

nav {

    text-align: right;

}

a {

    display: inline-flex;
    align-items: center ;
    color: #F5F5F5;
    font-size: 20px;
    font-family: "Fira Code", Arial, Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

#opcoes-header::before {

    content: "";
    display: inline-block;
    background-color: #7C5E99;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {

    display: inline-block;
    background-color: #828282;
    padding: 18px 20px;
    box-shadow: 6px 6px 0 #242325;
    margin-right: 0;
    transition: transform 100ms linear, background-color 370ms ease;

}

#button:hover {

    background-color: #7C5E99;
    transform: scale(1.05);
    
}


